.accessories-grid{
  background: #f3f4f8;
  width: 100%;
  height: 392px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  padding: 0 85px;
  column-gap: 10px;
}

.tennis{
  place-self: center end;
  grid-column: span 3;
}

.description{
  place-self: center;
  width: 100%;
  grid-column: span 6;
}

.tennis-text{
  margin-top: -95px;
  margin-right: 50px;
  line-height: 30px;
  letter-spacing: 1.87px;
  font-family: "HelveticaNeuLt";
}

.history{
  align-self: end;
  grid-column: span 3;
}

.tennis-accessories{
  color: #cbe346;
  font-weight: 600;
  letter-spacing: 1.87px;
  font-family: "HelveticaNeuBold";
}

.snowshoe-container{
  margin-bottom: 40px;
}

.accessories-description{
  color: #1e2335;
  font-size: 50px;
  letter-spacing: -0.06px;
  margin: 0;
  margin-bottom: 5px;
  font-family: "HelveticaNeuLt";
}

.accessories-info{
  max-width: 400px;
  color: #787878;
  font-size: 18px;
  line-height: 32px;
  font-family: "HelveticaNeuLt";
  letter-spacing: 0.51px;
  margin: 0;
  margin-bottom: 10px;
}


@media (max-width: 768px){
  .accessories-grid{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .accessories-description{
    font-size: 2em;
  }
  .snowshoe-container{
    margin-bottom: 20px;
  }
  .tennis{
    width: 100%;
  }
  .tennis-text{
    margin: 10px 0;
  }
  .history{
    width: 100%;
  }
}

@media (max-width:1000px){
  .tennis{
    grid-column: span 2;
  }
  .accessories-description{
    font-size: 2em;
  }
}

